<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...
    
    $('#calendar').fullCalendar({
    	weekends: false,

    	dayClick: function() {
    	      alert('a day has been clicked!');
    	  }
    	// will hide Saturdays and Sundays
        // put your options and callbacks here
    });

});

</script>
New Calendar
<div id='calendar'></div>